# IDE
/.classpath
/.project
/.settings/
/.factorypath

# Eclipse-specific files
*.pydevproject
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.mvn/
.loadpath
target/

# Build tools
/maven-local-repository/

mvnw
mvnw.cmd
help.md