<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8">
	<title>this is home page</title>
</head>
<body>
	<section class="home-banner">
		<div class="text-center">
			<h1 class="font-weight-bold">Customer Relationship Manangement</h1>
				<p>
				 Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ab commodi dolor omnis
				  id velit delectus dolorum, esse cumque impedit excepturi ducimus enim reiciendis sit. 
				  Nisi commodi sed sapiente dicta.
				</p>
				<button class="btn btn-primary btn-lg">Get Started</button>
		</div>
	</section>
</body>
</html>